a {
  text-decoration: none; }

.header {
  height: 100vh;
  padding-top: 35px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url(../images/header.jpg) no-repeat center;
  background-size: cover;
  position: relative; }
  .header__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-57.5px, 0);
            transform: translate(-57.5px, 0); }
  .header__item {
    margin-left: 82px;
    color: white;
    position: relative;
    top: 47px; }
  .header__link {
    color: white;
    border-bottom: 1px dashed white;
    text-transform: uppercase; }
  .header__nav {
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto; }
  .menu__link {
    display: block;
    padding: 7px 20px;
    margin: 0 22.5px;
    border-radius: 10px;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
    -webkit-transition: color 0.3s;
    transition: color 0.3s; }
    .menu__link:hover {
      color: #d5c5aa; }
    .menu__link.menu__link--active {
      background-color: #d5c5aa;
      color: black; }

@media screen and (max-width: 999px) {
  .header__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header__item {
    margin-left: 0;
    margin-top: 6px;
    top: 30px; }
  .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }

.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 48px;
  font-weight: 300;
  text-transform: uppercase; }
  .heading__decor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .heading__line {
    width: calc(50% - 20px);
    height: 2px;
    background-color: #00aaef; }
  .heading__logo {
    width: 23px;
    height: 16px;
    background: url("../images/crown.svg") no-repeat center; }

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 120px 0;
  background-color: white; }
  .about__title {
    width: 314px;
    font-size: 48px;
    font-weight: 300;
    line-height: 60px;
    text-transform: uppercase;
    margin-right: 62px; }
    .about__title--bold {
      font-weight: 500; }
    .about__title--link {
      color: #00aaef; }
  .about__section {
    max-width: 564px; }
  .about__para {
    margin-bottom: 24px;
    line-height: 24px; }
    .about__para--bold {
      font-weight: 500; }

@media screen and (max-width: 999px) {
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 40px;
    padding-right: 40px; }
    .about__title {
      margin: 0 0 30px;
      text-align: center; } }

.gallery {
  text-align: center;
  padding: 100px 0;
  position: relative;
  background-color: #eee; }
  .gallery__title-w-decor {
    position: absolute;
    top: -24px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }
  .gallery__photo {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    margin: 0 8px; }
    .gallery__photo--1 {
      width: 624px;
      height: 263px; }
    .gallery__photo--2 {
      width: 303px;
      height: 263px; }
    .gallery__photo--3 {
      width: 462px;
      height: 261px; }
    .gallery__photo--4 {
      width: 462px;
      height: 261px; }
    .gallery__photo--5 {
      width: 301px;
      height: 260px; }
    .gallery__photo--6 {
      width: 620px;
      height: 260px; }
  .gallery__description {
    width: 943px;
    text-align: start;
    margin: 12px auto 25px;
    font-weight: 500; }
    .gallery__description--location {
      font-weight: normal;
      color: #00aaef;
      -webkit-transition: color 0.3s;
      transition: color 0.3s; }
      .gallery__description--location:hover {
        color: #2f80ed; }
  .gallery__button {
    margin-top: 19px;
    padding: 19px 62px;
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    border: none;
    outline: none;
    background-color: #00aaef;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s; }
    .gallery__button:hover {
      background-color: #2f80ed; }

@media screen and (max-width: 999px) {
  .gallery__photo--1 {
    width: calc(624px / 3);
    height: calc(263px / 3); }
  .gallery__photo--2 {
    width: calc(303px / 3);
    height: calc(263px / 3); }
  .gallery__photo--3 {
    width: calc(462px / 3);
    height: calc(261px / 3); }
  .gallery__photo--4 {
    width: calc(462px / 3);
    height: calc(261px / 3); }
  .gallery__photo--5 {
    width: calc(301px / 3);
    height: calc(260px / 3); }
  .gallery__photo--6 {
    width: calc(620px / 3);
    height: calc(260px / 3); }
  .gallery__description {
    width: calc(943px / 3); } }

.consultation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 100px 0;
  position: relative;
  background-color: white; }
  .consultation__title-w-decor {
    position: absolute;
    top: -24px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }
  .consultation__text {
    max-width: 480px;
    margin-right: 72px; }
  .consultation__h3 {
    font-size: 32px;
    line-height: 40px; }
  .consultation__para {
    margin-top: 24px;
    line-height: 1.5; }

@media screen and (max-width: 999px) {
  .consultation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 40px;
    padding-right: 40px; }
    .consultation__text {
      margin: 0 0 30px; } }

.form {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  font-size: 14px; }
  .form__field {
    width: 383px;
    margin-bottom: 8px;
    padding: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: center;
    border: none;
    outline: none;
    background-color: #eee; }
    .form__field::-webkit-input-placeholder {
      color: #393939;
      text-transform: uppercase; }
    .form__field::-moz-placeholder {
      color: #393939;
      text-transform: uppercase; }
    .form__field:-ms-input-placeholder {
      color: #393939;
      text-transform: uppercase; }
    .form__field::-ms-input-placeholder {
      color: #393939;
      text-transform: uppercase; }
    .form__field::placeholder {
      color: #393939;
      text-transform: uppercase; }
  .form__button {
    width: 383px;
    padding: 20px 0;
    color: white;
    text-align: center;
    text-transform: uppercase;
    border: none;
    outline: none;
    background-color: #00aaef;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s; }
    .form__button:hover {
      background-color: #2f80ed; }

.testimonials {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-gap: 14px 65px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  padding: 100px 0;
  position: relative;
  background-color: #eee; }
  .testimonials__title-w-decor {
    position: absolute;
    top: -24px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }
  .testimonials__person {
    width: 150px;
    height: 150px;
    border-radius: 50%; }
  .testimonials__name {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 1.5; }
  .testimonials__position {
    font-weight: normal;
    font-style: italic;
    color: #666670; }
  .testimonials__citation {
    text-align: center;
    line-height: 1.5;
    position: relative; }
    .testimonials__citation::after {
      content: "";
      display: block;
      width: 40px;
      height: 40px;
      background: url("../images/quotes.svg") no-repeat center;
      position: absolute;
      top: -37px;
      left: -30px; }

@media screen and (max-width: 999px) {
  .testimonials {
    grid-template-columns: 200px;
    grid-template-areas: "image1" "name1" "citation1" "image2" "name2" "citation2" "image3" "name3" "citation3"; }
  .testimonials > :nth-child(2) {
    grid-area: image1; }
  .testimonials > :nth-child(3) {
    grid-area: image2; }
  .testimonials > :nth-child(4) {
    grid-area: image3; }
  .testimonials > :nth-child(5) {
    grid-area: name1; }
  .testimonials > :nth-child(6) {
    grid-area: name2; }
  .testimonials > :nth-child(7) {
    grid-area: name3; }
  .testimonials > :nth-child(8) {
    grid-area: citation1; }
  .testimonials > :nth-child(9) {
    grid-area: citation2; }
  .testimonials > :nth-child(10) {
    grid-area: citation3; } }

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 100px 0;
  background-color: #fff;
  position: relative; }
  .contacts__title-w-decor {
    position: absolute;
    top: -24px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }
  .contacts__para {
    margin-bottom: 30px;
    margin-right: 260px;
    font-size: 24px;
    line-height: 1.5; }
  .contacts__textarea {
    resize: none; }
  .contacts__button {
    background-color: #2f80ed;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s; }
    .contacts__button:hover {
      background-color: #00aaef; }

@media screen and (max-width: 999px) {
  .contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 40px;
    padding-right: 40px; }
    .contacts__para {
      margin-right: 0; } }

.footer {
  height: 540px;
  background: url(../images/footer.jpg) no-repeat center;
  background-size: cover;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  z-index: -1; }

.footer__logo {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  bottom: 95px; }

html {
  font-family: Ubuntu, sans-serif;
  font-size: 16px; }

/*# sourceMappingURL=main.css.map */
